# Python-related ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.env/
.venv/

# Streamlit-specific ignores
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Pytest
.pytest_cache/

# Jupyter Notebook temporary files
.ipynb_checkpoints/

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail files
._*

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Miscellaneous
.local/

models/*.bin
